version: "3.6"

services:
  mqtt-server:
    image: ghcr.io/everest/everest-demo/mqtt-server:${TAG}
    build: mosquitto
    platform: linux/x86_64
    logging:
      driver: none

  manager:
    image: ghcr.io/everest/everest-demo/manager:${TAG}
    build: manager
    platform: linux/x86_64
    depends_on:
      - mqtt-server
    environment:
      - MQTT_SERVER_ADDRESS=mqtt-server
    entrypoint: "sh /ext/build/run-scripts/run-sil-ocpp.sh"
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0

  ocpp-db:
    image: mariadb:10.4.30
    command: [ "--datadir", "/var/lib/mysql-no-volume" ]
    ports:
      - 13306:3306
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: ocpp-db
      MYSQL_USER: ocpp
      MYSQL_PASSWORD: ocpp

  nodered:
    build: nodered
    image: ghcr.io/everest/everest-demo/nodered:${TAG}
    depends_on:
      - mqtt-server
    ports:
      - 1880:1880
    environment:
      - MQTT_SERVER_ADDRESS=mqtt-server
      - FLOWS=/config/config-sil-two-evse-flow.json
